<h1>File Mapper</h1>

<form action="mapper" method="post">
    <p>Enter the GUID:</p>
        <input type="text" name="GUID" pattern="cpb-aacip{_-}.*" placeholder="cpb-aacip..."><br>
    <p>Select the desired file types:</p>
        <input type="checkbox" name="file_type" value="markup" id="markup" checked>
            <label for="markup">Markup</label><br>
        <input type="checkbox" name="file_type" value="text" id="text" checked>
            <label for="text">Text</label><br>
        <input type="checkbox" name="file_type" value="audio" id="audio" checked>
            <label for="audio">Audio</label><br>
        <input type="checkbox" name="file_type" value="video" id="video" checked>
            <label for="video">Video</label>
        <br><br>
    <input type="submit" value="Search">
</form>